.footer-bottom-wrap {
	padding: 41.6px 24px 35.2px;
	background-color: #222121;
}

.footer-bottom-wrap .container {
	display: flex;
	padding: 0;
	justify-content: center;
	width: 1140px;
}

.footer-bottom-wrap .container .display-same {
	font-family:"Open Sans", sans-serif;
	font-size:13.8px;
	font-weight:400;
	letter-spacing:1px;
	line-height:20.7px;
}

.footer-bottom-wrap .container .hover-color {
	color: #d8ab74;
	margin-right: 4px;
}

.footer-bottom-wrap .container .footer-copyright {
	color: white;
}
